{% extends "partials/base.html" %}
{% load static %}


{% block content %}
{% load crispy_forms_tags %}
<br><br>
<div class="container">

    <div class="row">
        <div class="col-md-9">
            <div class="card mb-4">
                <div class="card-header">
                  <h3 class="text-center">{{ book.title }}</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">{{ book.about }}</p>
                </div>
                <div class="card-footer">
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-outline-success mt-2">Submit</button>
                    </form>
                </div>
              </div>
        {% for comment in book.comments.all %}
            <div class="card m-auto mt-4 mb-4" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if comment.user.profile.picture %}
                            <img src=" {{ comment.user.profile.picture.url }} " alt="profile" class="card-img mt-4 p-1 rounded-circle">
                        {% else %}
                              <img src="{% static 'img/author.png' %}" alt="profile" class="card-img">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'profile' comment.user.username %}">
                                {{ comment.user.username }}
                            </a>
                        </h5>
                        <p class="card-text">
                            {{ comment.body }}
                        </p>
                        <p class="card-text">Comment date:
                            <small class=" text-danger">{{ comment.date }}</small>
                        </p>
                    </div>
                    </div>
                </div>
                </div>
        {% endfor %}
        </div>



        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">

                    {% if request.user.groups.all %}
                        <button class="btn btn-outline-danger btn-sm rounded-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Delete">
                            Delete
                        </button>
                        <a href="{% url 'update_book' book.id %}" class="btn btn-outline-success btn-sm rounded-3">Update</a>
                    {% endif %}

                    {% if book.book_image %}
                        <img src="{{ book.book_image.url }}" alt="book" class="card-img mt-2">
                    {% else %}
                        <img src="{% static 'img/book.png' %}" alt="book" class="card-img">
                    {% endif %}

                    <p class="card-text">
                        <strong>Author: </strong> <a href="{% url 'author_detail' book.author.id %}"> {{book.author}}</a>
                    </p>
                    <p class="card-text">
                        <strong>Number of page: </strong>{{book.number_of_page}}
                    </p>
                    <p class="card-text">
                        <strong>ISBN: </strong>{{book.isbn}}
                    </p>
                    <p class="card-text">
                        <strong>Genre: </strong>{{book.display_genre}}
                    </p>
                    <p class="card-text">
                        <strong>Number of page: </strong>{{book.number_of_page}}
                    </p>
                    <p class="card-text">
                        <strong>Language: </strong>{{book.book_language}}
                    </p>
                    <p class="card-text">
                        <strong>Favorites: </strong>{{book.favorites.all.count}}
                    </p>

                    <form action="{% url 'favorite' book.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="book_id" value="{{book.id}}">

                    {% if request.user.is_authenticated %}
                        {% if request.user.profile not in book.favorites.all %}
                        <button type="submit" class="btn btn-outline-warning">
                            Add Favorite
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-outline-danger">
                            Remove
                        </button>
                        {% endif %}
                    {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this book: <strong>{{book.title}}</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'delete_book' book.id %}" class="btn btn-outline-danger ">Yes, delete</a>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}