{% extends "partials/base.html" %}
{% load static %}


{% block content %}
  
<br><br>
<div class="container">

    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                  <h3 class="text-center">{{ book.title }}</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">{{ book.about }}</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'img/book.png' %}" alt="" class="card-img">
                    <p class="card-text">
                        <strong>Author: </strong> <a href="{% url 'author_detail' book.author.id %}"> {{book.author}}</a>
                    </p>
                    <p class="card-text">
                        <strong>Number of page: </strong>{{book.number_of_page}}
                    </p>
                    <p class="card-text">
                        <strong>ISBN: </strong>{{book.isbn}}
                    </p>
                    <p class="card-text">
                        <strong>Genre: </strong>{{book.display_genre}}
                    </p>
                    <p class="card-text">
                        <strong>Number of page: </strong>{{book.number_of_page}}
                    </p>
                    <p class="card-text">
                        <strong>Language: </strong>{{book.book_language}}
                    </p>
                    <p class="card-text">
                        <strong>Favorites: </strong>{{book.favorites.all.count}}
                    </p>

                    <form action="{% url 'favorite' book.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="book_id" value="{{book.id}}">

                        {% if request.user.profile not in book.favorites.all %}
                        <button type="submit" class="btn btn-outline-warning">
                            Add Favorite
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-outline-danger">
                            Remove
                        </button>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}